.header{
    position: fixed;
    /* margin-top: 5%; */
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: whitesmoke;
    padding-top: 2em;
    font-size: .7em;
    transition: 1s;
    background-color: rgb(3, 41, 64, .8);
    gap: 5em;
    padding-right: 5em;
    z-index: 999;
  }
  
  .itemHeader{
    width: auto;
    height: auto;
    transition: .3s;
  }
  
  .itemHeader:hover{
    transition: .3s;
    cursor: pointer;
    color: #00a3e3;
  }

  @media (max-width: 768px) {
    .header{
      padding-right: 2em;
    }
  }

  @media (max-width:480px) {
    .header{
      gap: 2em;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }

  }