
  
  .initialPage{
    object-fit: contain;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/background-one.jpg');
  
    background-size: cover; /* Faz a imagem cobrir todo o container */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    display: flex;
    justify-content: flex-end;
    transition: 2s;
    animation: scaleUp 2s;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1); /* Volta ao tamanho original */
    }
  }
  
  .scale-button:hover {
    transform: scale(1.2); /* Aumenta o botão ao passar o mouse */
  }
  
  .containerInitialPage{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2em;
    /* padding-top: 8em; */
    padding-right: 2em;
  }
  
  .initialPageTitle{
    width: 100%;
    color: rgb(10, 10, 10);
    /* background-color: red; */
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    padding-top: 5em;
  
  }
  
  .initialPageBody{
    width: 80%;
    height: 30%;
    color: rgb(45, 48, 50);
    /* background-color: rgb(102, 255, 0); */
    font-size: 1em;
    text-align: left;
    color: #C4C4C4;
    font-weight: 100;
  
  }
  
  
  .initialPageButton {
    margin-top: 10%;
    width: 60%;
    height: 10%;
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    border: 2px solid #0080b3;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    text-shadow: 0 0 3px #0080b3, 0 0 10px #0080b3, 0 0 20px #0080b3;
    box-shadow: 0 0 3px #0080b3, 0 0 10px #0080b3, 0 0 20px #0080b3, 
                0 0 120px #0080b3, 0 0 80px #0080b3, 0 0 20px #0080b3;
    transition: .3s;
    background-color: #0080b3;
  }
  
  .initialPageButton:hover {
    transition: .3s;
    transform: scale(1.2);
    box-shadow: 0 0 10px #0080b3, 0 0 20px #0080b3, 0 0 30px #0080b3, 
                0 0 60px #0080b3, 0 0 100px #0080b3, 0 0 150px #0080b3;
  }

  @media(max-width:1000px){
    .initialPageTitle{
      width: 100%;
      padding-top: 3em;
    }
  }

  @media (max-width: 768px) {
    .containerInitialPage{
      width: 100%;
      padding-top: 5em;
    }

    .initialPageTitle{
      width: 100%;
      text-align: left;
      padding-left: 10%;
    }
  }

  @media (max-width:480px) {
      
    .initialPage{
      background-position: 30%;
    }
  
    .initialPageTitle{
      text-align: left;
    }
  
    .initialPageBody{
      text-align: left;
      font-size: .9em;
    }
  }